<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_AxsY2ubXugubXuejVOFnOjO145PjokI</string>
	<key>GCM_SENDER_ID</key>
	<string>521908701882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shesafe</string>
	<key>PROJECT_ID</key>
	<string>safehermobile-5d7b1</string>
	<key>STORAGE_BUCKET</key>
	<string>safehermobile-5d7b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521908701882:ios:e0ca8604aea2a9dbaa1083</string>
</dict>
</plist>